button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.jumbotron {
  background-image: url("../img/mainBackground.jpg");
}

#jumbo-cms {
  background-image: url("../img/120941-road-wallpaper-1920x1080-computer.jpg");
  background-size: cover;
  width: 100%;
  height:100%;
  opacity: 1.3;
  margin-bottom: 0px;
}

h1 {
  font-family: 'Bangers', cursive; 
  font-size: 60px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color:white;
}

h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

#card-cms {
  width: 800px;
  height: 800px;
}